@import 'tailwindcss';

@theme {
  --font-sans: 'Loreal Essentielle', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Loreal Heritage', ui-serif, Georgia, serif;
  --font-display: 'Loreal Royale', 'Loreal Essentielle', ui-sans-serif, system-ui, sans-serif;

  --text-base: 1rem;
  --text-base--line-height: 1.25;
  --text-base--font-weight: 400;

  --text-title: 1.5rem;
  --text-title--line-height: 2rem;
  --text-title--font-weight: 700;

  --text-heading: 2rem;
  --text-heading--line-height: 1.125;
  --text-heading--font-weight: 700;

  --text-caption: 0.75rem;
  --text-caption--line-height: 1rem;
  --text-caption--font-weight: 400;
}

@theme inline {
  --color-brand: #0021A5;
  --color-surface: #141416;
  --color-primary: #F3F4F6;
  --color-secondary: #E5E7EB;
  --color-tertiary: #D2D5DA;
  --color-subtle: #9CA3AF;
  --color-muted: #E5E7EB;
}

@layer base {
  :root {
    --app-top-offset: env(safe-area-inset-top, 0px);
    --app-left-offset: env(safe-area-inset-left, 0px);
    --app-right-offset: env(safe-area-inset-right, 0px);
    --app-bottom-offset: env(safe-area-inset-bottom, 0px);

    --app-min-scroll-top: 62px;
  }


  body,
  html {
    @apply font-sans text-base antialiased;
    image-rendering: high-quality !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    background: var(--color-surface);
    color: var(--color-primary);
    min-height: 100dvh;
    scrollbar-color: transparent;
    scrollbar-width: none;
    transition: background-image 0.2s ease-in-out, background-position 0.3s ease-in-out;
    @apply overscroll-none select-none;
  }

  body {
    background-size: cover;
    background-position: 30% 0%;
    background-repeat: no-repeat;
  }

  body:has(#pick-persona-page) {
    background-position: center center;
  }

  body:has(#slash-page) {
    background-position: top right;
  }

  /* Default crossfade */
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 0.3s;
  }

  /* Slide left animation */
  html:active-view-transition-type(slide-in) {
    &::view-transition-old(root) {
      animation: fade-out 0.3s ease-in-out;
    }

    &::view-transition-new(root) {
      animation: slide-in-right 0.3s ease-in-out;
    }
  }

  /* Slide right animation */
  html:active-view-transition-type(slide-out) {
    &::view-transition-old(root) {
      animation: slide-out-right 0.3s ease-in-out;
    }

    &::view-transition-new(root) {
      animation: fade-in 0.3s ease-in-out;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
      scale: 1;
    }

    to {
      opacity: 0;
      transform: translateX(-10%);
      scale: 0.95;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(-10%);
      scale: 0.95;
    }

    to {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes slide-out-left {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-out-right {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(100%);
    }
  }

  @keyframes slide-in-left {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }
}

@layer components {
  .glass-panel {
    @apply rounded-[20px] backdrop-blur-xs relative transition-all;
    box-shadow: 0 4px 20px 0 rgba(0, 87, 255, 0.50) inset, 0 -4px 20px 0 rgba(255, 110, 0, 0.20) inset;

    &::before {
      content: '';
      @apply absolute inset-0 -z-1 transition-all;
      border-radius: inherit;
      background: linear-gradient(var(--light-deg), var(--glass-border-one), transparent, var(--glass-border-two)) border-box;
      border: 1px solid transparent;
      mask: linear-gradient(black, black) border-box, linear-gradient(black, black) padding-box;
      mask-composite: subtract;
    }
  }

  @property --light-deg {
    syntax: '<angle>';
    inherits: false;
    initial-value: -10deg;
  }

  @property --glass-border-one {
    syntax: '<color>';
    inherits: false;
    initial-value: hsl(0 0 100 / 35%);
  }

  @property --glass-border-two {
    syntax: '<color>';
    inherits: false;
    initial-value: hsl(0 0 100 / 35%);
  }
}
