@import 'tailwindcss';

@theme {
  --font-sans: 'Loreal Essentielle', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Loreal Heritage', ui-serif, Georgia, serif;
  --font-display: 'Loreal Royale', 'Loreal Essentielle', ui-sans-serif, system-ui, sans-serif;

  --text-base: 1rem;
  --text-base--line-height: 1.25;
  --text-base--font-weight: 400;

  --text-heading: 2rem;
  --text-heading--line-height: 1.125;
  --text-heading--font-weight: 700;

  --text-caption: 0.75rem;
  --text-caption--line-height: 1rem;
  --text-caption--font-weight: 400;
}

@theme inline {
  --color-surface: var(--clr-surface);
  --color-primary: var(--clr-primary);
  --color-secondary: var(--clr-secondary);
  --color-tertiary: var(--clr-tertiary);
  --color-subtle: var(--clr-subtle);
}

@layer base {
  :root {
    /* --clr-surface: #0021A5; */
    --clr-surface: #141416;
    --clr-primary: #F3F4F6;
    --clr-secondary: #E5E7EB;
    --clr-tertiary: #D2D5DA;
    --clr-subtle: #9CA3AF;

    --app-top-offset: env(safe-area-inset-top, 0px);
    --app-left-offset: env(safe-area-inset-left, 0px);
    --app-right-offset: env(safe-area-inset-right, 0px);
    --app-bottom-offset: env(safe-area-inset-bottom, 0px);
  }


  body,
  html {
    @apply font-sans text-base antialiased;
    image-rendering: high-quality !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    background: var(--color-surface);
    color: var(--color-primary);
    min-height: 100dvh;
    scrollbar-color: transparent;
    scrollbar-width: none;
    @apply overscroll-none;
  }

  body {
    @media (width <= 28rem) {
      background-image: url('/sign-in.png');
      background-size: cover;
      background-position: top right;
      background-repeat: no-repeat;
    }
  }
}

@layer components {
  .glass-panel {
    --light-deg: -10deg;
    @apply rounded-[20px] backdrop-blur-xs relative transition-all;
    box-shadow: 0 4px 20px 0 rgba(0, 87, 255, 0.50) inset, 0 -4px 20px 0 rgba(255, 110, 0, 0.20) inset;

    &::before {
      content: '';
      @apply absolute inset-0 -z-1 transition-all;
      border-radius: inherit;
      background: linear-gradient(var(--light-deg), hsl(0 0 100 / 35%), transparent, hsl(0 0 100 / 35%)) border-box;
      border: 1px solid transparent;
      mask: linear-gradient(black, black) border-box, linear-gradient(black, black) padding-box;
      mask-composite: subtract;
    }
  }

  .slash-page {
    background-image: url('/slash.png');
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
  }
  .sign-in-page {
    background-image: url('/sign-in.png');
    background-size: cover;
    background-position: 30% 0%;
    background-repeat: no-repeat;
  }
}
